%footer
  .row
    .col-lg-12
      %h4#disclaimer Disclaimer
      %p
        Opal or Not is not associated with or approved by
        = succeed "." do
          %a{href: "http://www.transport.nsw.gov.au"} Transport for NSW
        Opal, TravelTen, MyMulti and other trademarks referred to within this site are the property of Transport for NSW.
      %p
        All fare comparisons are indicative.   Opal or Not does not assume any responsibility whatsoever for their accuracy, and consequently assumes no liability whatsoever for results obtained or loss or damage incurred as a result of application of the data. Opal or Not expressly disclaims all warranties, expressed or implied, including but not limited to implied warranties of merchantability and fitness for any particular purpose.
      %h4 Credits
      %p
        Made by
        %a{href: "http://patokallio.name"} Jani Patokallio
        for
        = succeed "." do
          %a{href: "http://contentshare.sg"} Contentshare
        %a{href: "https://github.com/jpatokal/opal_or_not"}
          Code
        released under the
        = succeed "." do
          %a{href: "https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE"} MIT License
        Built with
        = succeed "," do
          %a{href: "http://sinatrarb.com"} Sinatra
        = succeed "," do
          %a{href: "http://haml.info/"} Haml
        = succeed "," do
          %a{href: "http://getbootstrap.com"} Bootstrap
        = succeed "," do
          %a{href: "https://developers.google.com/chart/"} Google Charts
        = succeed "." do
          %a{href: "http://fortawesome.github.io/Font-Awesome/"} Font Awesome
