= require './views/helper.rb'
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Opal or Not? Find out if Sydney's new transport smartcard will cost you more.
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{description: "Opal or Not?  Find out if Sydney's new transport smartcard will cost you more."}/
    %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "/vendor/social-likes_classic.css", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
  %body
    = Helper.render_view('navbar')
    .container
      .bs-docs-section
        .row{style: "margin: 64px 0px 10px 0px"}
          %img{src: "images/Opal_card.png", width: 200, height: 84}
          %span.h1.text-primary
            or Not?
          %p.lead.pull-right
            Find out if Sydney's new transport smartcard will cost you more.

      .bs-docs-section
        .well
          %form.bs-example.form-horizontal{onsubmit: "return false;"}
            %fieldset
              .form-group
                .col-md-2
                  %select.count.form-control
                    %option{value: 2} One
                    %option{value: 4} Two
                    %option{value: 6} Three
                    %option{value: 8} Four
                    %option{value: 10, selected: "true"} Five
                    %option{value: 12} Six
                    %option{value: 14} Seven
                %label.col-md-8.control-label{style: "text-align:left"} days a week,

              .form-group.segment-1
                %label.col-md-2.control-label I&nbsp;travel&nbsp;by
                .col-md-2
                  %select.mode.form-control
                    %option bus
                    %option ferry
                    %option{selected: "true"} train
                .col-md-8.bus.selector.hidden
                  %label.col-md-2.control-label in&nbsp;zone
                  .col-md-4
                    %select.zone.bus.form-control
                      %option{value: 1} MyBus 1
                      %option{value: 2} MyBus 2
                      %option{value: 3, selected: "true"} MyBus 3
                .col-md-8.ferry.selector.hidden
                  %label.col-md-2.control-label in&nbsp;zone
                  .col-md-4
                    %select.zone.ferry.form-control
                      %option{value: 1} MyFerry 1
                      %option{value: 2} MyFerry 2
                .col-md-8.train.selector
                  %label.col-md-1.control-label from
                  .col-md-4
                    %select.origin.form-control
                      - Helper.train_stations.each do |station|
                        %option= station
                  %label.col-md-1.control-label to
                  .col-md-4
                    %select.destination.form-control
                      - Helper.train_stations.each do |station|
                        %option= station
                  %input.zone.train{type: "hidden", value: 1} 

              .form-group.segment-2.hidden
                %label.col-md-2.control-label and
                .col-md-2
                  %select.mode.form-control
                    %option{selected: "true"} bus
                    %option ferry
                    %option train
                .col-md-8.bus.selector
                  %label.col-md-2.control-label in&nbsp;zone
                  .col-md-4
                    %select.zone.bus.form-control
                      %option{value: 1} MyBus 1
                      %option{value: 2} MyBus 2
                      %option{value: 3, selected: "true"} MyBus 3
                .col-md-8.ferry.selector.hidden
                  %label.col-md-2.control-label in&nbsp;zone
                  .col-md-4
                    %select.zone.ferry.form-control
                      %option{value: 1} MyFerry 1
                      %option{value: 2} MyFerry 2
                .col-md-8.train.selector.hidden
                  %label.col-md-1.control-label from
                  .col-md-4
                    %select.origin.form-control
                      - Helper.train_stations.each do |station|
                        %option= station
                  %label.col-md-1.control-label to
                  .col-md-4
                    %select.destination.form-control
                      - Helper.train_stations.each do |station|
                        %option= station
                  %input.zone.train{type: "hidden", value: 1} 

              .form-group
                .col-xs-2.col-md-offset-2
                  %button.btn.add.transfer
                    %span.glyphicon.glyphicon-chevron-down
                    Add transfer
                  %button.btn.remove.transfer.hidden
                    %span.glyphicon.glyphicon-chevron-up
                    Remove transfer
                .col-xs-2.col-xs-offset-4
                  %button.btn.btn-primary.btn-lg.compare#results
                    %span.glyphicon.glyphicon-search
                    Compare fares

      .bs-docs-section.error
        .row
          .alert.alert-danger.hidden

      .bs-docs-section.results.hidden
        .row
          #bar-chart.col-lg-12{style: "height: 160px"}
        .row
          .col-lg-12
            %p.lead{style: "margin-bottom:0px"}
              %span.opal-wins
                %span.text-primary
                  Opal?
                Go for it, pal.  Switching from
                %span.alternative.text-success
                  TravelTen
                would save you
                %span.weekly-savings
                  23.44
                every week, or
                %span.yearly-savings
                  523.44
                a year.
              %span.opal-loses
                %span.text-primary
                  Opal?
                No, pal. Using
                %span.winner.text-success
                  TravelTen
                instead would save you
                %span.weekly-savings
                  23.44
                every week, or
                %span.yearly-savings
                  523.44
                a year.
        .row
          .col-lg-12
            %p
            %p
              After
              %span.count
              comparisons,
              = succeed "%" do
                %span.opal-percent
              found Opal cheaper, saving an average of
              %span.opal-average
              yearly, and
              = succeed "%" do
                %span.non-opal-percent
              found Opal more expensive, costing them an average of
              %span.non-opal-average
              yearly.

        .row
          .col-sm-4
            %p
              Did you find this useful? Help spread the word:
          .social.col-sm-7.col-xs-offset-1{style: "margin-left: 10px"}
            .facebook{title: "Share link on Facebook"} Facebook
            .twitter{title: "Share link on Twitter", "data-via" => "jpatokal"} Twitter
            .plusone{title: "Share link on Google+"} Google+

      = Helper.render_view('footer')

    %script{src: "vendor/jquery-1.9.1.min.js"}
    %script{src: "vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "vendor/social-likes.min.js"}
    %script{src: "https://www.google.com/jsapi"}
    %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    %script{src: "js/opal_or_not.js"}
