%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Opal or Not
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "../"} Opal or Not
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "faq"} FAQ
            %li
              %a{href: "blog"} Blog
    .container
      #banner.page-header
      .row
        .col-md-12.center-block
          %h1.text-primary
            %img{src: "images/Opal_card.png"}
            or Not?
      %p.lead Find out if Sydney's new transport smartcard will cost you more.

      .bs-docs-section
        .well
          %form.bs-example.form-horizontal{onsubmit: "return false;"}
            %fieldset
              .form-group
                .col-md-2.col-md-offset-1
                  %select.form-control
                    %option{value: 2} One
                    %option{value: 4} Two
                    %option{value: 6} Three
                    %option{value: 8} Four
                    %option{value: 10, selected: "true"} Five
                    %option{value: 12} Six
                    %option{value: 14} Seven
                %label.col-md-8.control-label{for: "inputType", style: "text-align:left"} days a week,

              .form-group
                %label.col-md-2.col-md-offset-1.control-label{for: "inputType"} I travel by
                .col-md-2
                  %select#select.form-control
                    %option bus
                    %option ferry
                    %option{selected: "true"} train

                %label.col-md-1.control-label{for: "inputType"} in&nbsp;zone
                .col-md-2
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3

              .form-group.transfer-div.hidden
                %label.col-md-2.col-md-offset-1.control-label{for: "inputType"} and
                .col-md-2
                  %select#select.form-control
                    %option{selected: "true"} bus
                    %option ferry
                    %option train

                %label.col-md-1.control-label{for: "inputType"} in&nbsp;zone
                .col-md-2
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
              .form-group
                .col-md-2.col-md-offset-3
                  %button.btn.add.transfer Add transfer
                  %button.btn.remove.transfer.hidden Remove transfer
              .form-group
                .col-md-2.col-md-offset-8
                  %button.btn.btn-primary.btn-lg.btn-compare{type: "submit"} Compare fares
      /
        Progress bars
        \==================================================
      .bs-docs-section
        .row
          .col-lg-12
            .page-header
              %h1#progress Progress bars
            %h3#progress-basic Basic
            .bs-example
              .progress
                .progress-bar{style: "width: 60%;"}
            %h3#progress-alternatives Contextual alternatives
            .bs-example
              .progress{style: "margin-bottom: 9px;"}
                .progress-bar.progress-bar-info{style: "width: 20%"}
              .progress{style: "margin-bottom: 9px;"}
                .progress-bar.progress-bar-success{style: "width: 40%"}
              .progress{style: "margin-bottom: 9px;"}
                .progress-bar.progress-bar-warning{style: "width: 60%"}
              .progress
                .progress-bar.progress-bar-danger{style: "width: 80%"}
            %h3#progress-striped Striped
            .bs-example
              .progress.progress-striped{style: "margin-bottom: 9px;"}
                .progress-bar.progress-bar-info{style: "width: 20%"}
              .progress.progress-striped{style: "margin-bottom: 9px;"}
                .progress-bar.progress-bar-success{style: "width: 40%"}
              .progress.progress-striped{style: "margin-bottom: 9px;"}
                .progress-bar.progress-bar-warning{style: "width: 60%"}
              .progress.progress-striped
                .progress-bar.progress-bar-danger{style: "width: 80%"}
            %h3#progress-animated Animated
            .bs-example
              .progress.progress-striped.active
                .progress-bar{style: "width: 45%"}
            %h3#progress-stacked Stacked
            .bs-example
              .progress
                .progress-bar.progress-bar-success{style: "width: 35%"}
                .progress-bar.progress-bar-warning{style: "width: 20%"}
                .progress-bar.progress-bar-danger{style: "width: 10%"}
      %footer
        .row
          .col-lg-12
            %h2 Disclaimer
            %p
              Opal, TravelTen, MyMulti and other trademarks referred to within this site are the property of
              = succeed "." do
                %a{href: "http://www.transport.nsw.gov.au"} Transport for NSW
            %p
              Opal or Not is not associated with or approved by Transport for NSW.  All fare comparisons are indicative.   Opal or Not does not assume any responsibility whatsoever for its accuracy, and consequently assumes no liability whatsoever for results obtained or loss or damage incurred as a result of application of the data. Opal or Not expressly disclaims all warranties, expressed or implied, including but not limited to implied warranties of merchantability and fitness for any particular purpose.
            %p
              Made by
              = succeed "." do
                %a{href: "http://contentshare.sg"} Contentshare
            %p
              Code released under the
              = succeed "." do
                %a{href: "https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE"} MIT License
            %p
              Based on
              = succeed "." do
                %a{href: "http://getbootstrap.com", rel: "nofollow"} Bootstrap
              = succeed "." do
                %a{href: "http://fortawesome.github.io/Font-Awesome/", rel: "nofollow"} Font Awesome
              = succeed "." do
                %a{href: "http://www.google.com/webfonts", rel: "nofollow"} Google
    %script{src: "vendor/jquery-1.9.1.min.js"}
    %script{src: "js//opal_or_not.js"}
