%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Opal or Not
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "../"} Opal or Not
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "faq"} FAQ
            %li
              %a{href: "blog"} Blog
    .container
      #banner.page-header
      .row
        .col-md-12.center-block
          %h1.text-primary
            %img{src: "images/Opal_card.png"}
            or Not?
      %p.lead Find out if Sydney's new transport smartcard will cost you more.

      .bs-docs-section
        .well
          %form.bs-example.form-horizontal{onsubmit: "return false;"}
            %fieldset
              .form-group
                .col-md-2.col-md-offset-1
                  %select.count.form-control
                    %option{value: 2} One
                    %option{value: 4} Two
                    %option{value: 6} Three
                    %option{value: 8} Four
                    %option{value: 10, selected: "true"} Five
                    %option{value: 12} Six
                    %option{value: 14} Seven
                %label.col-md-8.control-label{style: "text-align:left"} days a week,

              .form-group.segment-1
                %label.col-md-2.col-md-offset-1.control-label I travel by
                .col-md-2
                  %select.mode.form-control
                    %option bus
                    %option ferry
                    %option{selected: "true"} train

                %label.col-md-1.control-label in&nbsp;zone
                .col-md-2
                  %select.zone.form-control
                    %option 1
                    %option 2
                    %option 3

              .form-group.segment-2.hidden
                %label.col-md-2.col-md-offset-1.control-label and
                .col-md-2
                  %select.mode.form-control
                    %option{selected: "true"} bus
                    %option ferry
                    %option train

                %label.col-md-1.control-label in&nbsp;zone
                .col-md-2
                  %select.zone.form-control
                    %option 1
                    %option 2
                    %option 3
              .form-group
                .col-md-2.col-md-offset-3
                  %button.btn.add.transfer
                    %span.glyphicon.glyphicon-chevron-down
                    Add transfer
                  %button.btn.remove.transfer.hidden
                    %span.glyphicon.glyphicon-chevron-up
                    Remove transfer
                .col-md-2.col-md-offset-3
                  %button.btn.btn-primary.btn-lg.compare
                    %span.glyphicon.glyphicon-search
                    Compare fares
      /
        Progress bars
        \==================================================
      .bs-docs-section.spinner.hidden
        .row
          .col-lg-12
            %p.lead
              Comparing...
              %i.fa.fa-spinner.fa-spin

      .bs-docs-section.results
        .row
          .col-lg-12
            %p.lead{style: "margin-bottom:0px"}
              %span.text-primary
                Opal?
              No, pal.
              %br/
              Using
              %span.text-success
                TravelTen
              instead of
              would save you $23.44 every week, or $523.44 in a year.
        .row
          #bar-chart.col-lg-12{style: "height: 200px"}
        .row
          .col-lg-12
            %p.lead
              Not using Opal has already saved 123 people $1500. Spread the word.

      %footer
        .row
          .col-lg-12
            %h4 Disclaimer
            %p
              Opal, TravelTen, MyMulti and other trademarks referred to within this site are the property of
              = succeed "." do
                %a{href: "http://www.transport.nsw.gov.au"} Transport for NSW
            %p
              Opal or Not is not associated with or approved by Transport for NSW.  All fare comparisons are indicative.   Opal or Not does not assume any responsibility whatsoever for its accuracy, and consequently assumes no liability whatsoever for results obtained or loss or damage incurred as a result of application of the data. Opal or Not expressly disclaims all warranties, expressed or implied, including but not limited to implied warranties of merchantability and fitness for any particular purpose.
            %h4 Credits
            %p
              Made by
              = succeed "." do
                %a{href: "http://contentshare.sg"} Contentshare
            %p
              %a{href: "https://github.com/jpatokal/opal_or_not"}
                Code
              released under the
              = succeed "." do
                %a{href: "https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE"} MIT License
            %p
              Built with
              = succeed "," do
                %a{href: "http://sinatrarb.com"} Sinatra
              = succeed "," do
                %a{href: "http://haml.info/"} Haml
              = succeed "," do
                %a{href: "http://getbootstrap.com"} Bootstrap
              = succeed "." do
                %a{href: "https://developers.google.com/chart/"} Google Charts
              = succeed "," do
                %a{href: "http://fortawesome.github.io/Font-Awesome/"} Font Awesome
    %script{src: "vendor/jquery-1.9.1.min.js"}
    %script{src: "https://www.google.com/jsapi"}
    %script{src: "js//opal_or_not.js"}
